@using FashionWeb.Domain.ViewModels;
@using Utilities.GlobalHelpers;
@model ProductViewModel

@{
    ViewData["Title"] = "Product Page";
    Layout = "_Layout";
}

@{
    var index = 0;
}

<partial name="_Alert" />

@if (!Model.IsSuccess)
{
    @await Html.PartialAsync("_ErrorPage", Model)
}
else
{
   <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="pd-20 card-box mb-30">
                <div class="clearfix mb-20">
                    <div class="pull-left">
                        <h4 class="text-blue h4">PRODUCT TABLE</h4>

                        <div class="pull-left">
                            <a href="~/Products/Create" class="btn btn-primary btn-sm" role="button">Create Product</a>
                        </div>

                    </div>
                    <div class="pull-right">
                        <a href="#border-table" class="btn btn-primary btn-sm scroll-click" role="button">Save File To Excel</a>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr style="text-align:center; font-weight:700">
                            <th scope="col">
                                <input type="checkbox" name="select_all" value="1" class="checkBoxAll">
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col">Provider</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity In Stock</th>
                            <th scope="col">Image</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center; font-size:15px">
                        @foreach (var product in Model.ListProduct)
                        {
                            <tr>
                                <th scope="row">
                                    <input asp-for="@Model.ListProduct[index].IsCheck" type="checkbox" class="product__checkbox" />
                                    <input asp-for="@Model.ListProduct[index].Id" id="product-id__@index" type="hidden" class="product__id" />
                                </th>
                                <td class="table-plus sorting_1" tabindex="0">@product.Name</td>
                                <td>@product.Provider</td>
                                <td>@product.Price.GetPriceFormat()</td>
                                <td>@product.QuantityInStock</td>
                                <td>
                                    @if (string.IsNullOrEmpty(product.MainImageName))
                                    {
                                        <img src="~/img/product-defaut.png" class="product-image"
                                        style="width:90px">
                                    }
                                    else
                                    {
                                        <img src="@product.ImageUrl" clas="product-image" style="width:90px">
                                        <input type="hidden" asp-for="@product.MainImageName">
                                    }
                                </td>
                                <td>
                                    <a href="@Url.ActionLink("Update", "Products", new {id = product.Id})"
                                       class="btn btn-primary" style=" border-radius:20%">
                                        <i class="bi bi-pen"></i>
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <button class="tm-product-delete-link"
                                            data-toggle="modal"
                                            data-target="@("#delete-product-" + product.Id)"
                                            type="button">
                                        <i class="icon-copy bi bi-trash-fill" style="cursor:pointer"></i>
                                    </button>
                                </td>
                                @await Html.PartialAsync("_DeleteConfirmPartialView", product)
                            </tr>
                            index++;
                        }
                    </tbody>
                </table>
                <div class="row">
                    <ul class="pagination" style="float: right">

                        @if (Model.Paging.CurrentPage > 1)
                        {
                            <li class="paginate_button">
                                <a href="@Url.Action("Index", "Products", new {currentpage = Model.Paging.CurrentPage - 1})"
                                   class="paging">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </a>
                            </li>
                        }

                        @for (int i = 1; i <= Model.Paging.TotalPages; i++)
                        {
                            <li class="paginate_button page-item active">

                                @if (i != Model.Paging.CurrentPage)
                                {
                                    <a href="@Url.Action("Index", "Products", new {currentpage = @i})" class="paging">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a class="page-link">
                                        <span>@i</span>
                                    </a>
                                }

                            </li>
                        }

                        @if (Model.Paging.CurrentPage < Model.Paging.TotalPages)
                        {
                            <li class="paginate_button page-item next">
                                <a href="@Url.Action("Index", "Products",
							new {currentpage = Model.Paging.CurrentPage + 1, })" class="paging">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            </li>
                        }

                        <li class="paginate_button page-item active">
                            <input class="page-number" value="1" />
                        </li>

                        <li class="paginate_button page-item active ">
                            <a class="paging goto" style="margin-left:1px; width:100px; height: 40px;cursor:pointer"
                               onclick="goto()">
                                <p> GO TO <i class="fa-solid fa-chevron-right"></i> </p>
                            </a>
                        </li>

                    </ul>
                </div>
               
            </div>
           
            <div class="footer-wrap pd-20 mb-20 card-box">
                ADMIN - Admin Template By
                <a href="https://bitbucket.org/dtranthai/fashion-admin/src/develop/" target="_blank" style="text-decoration:none">
                    TONY ĐẶNG AND APTECH TEAM
                </a>
            </div>
        </div>
    </div>
}