@using FashionWeb.Domain.ViewModels;
@using FashionWeb.Utilities.GlobalHelpers;
@model FashionWeb.Domain.ViewModels.ProductItemViewModel

@{
    ViewData["Title"] = "Product Add";
    Layout = "_Layout";
}

<partial name="_Alert" />


<div class="main-container">
    <div class="page-header">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="title">
                    <h4>EDIT PRODUCT</h4>
                </div>
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="~/Home/Index">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="~/Product/Index">Product Table</a>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-6 col-sm-12 text-right">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                        April 11, 2023
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Export List</a>
                        <a class="dropdown-item" href="#">Policies</a>
                        <a class="dropdown-item" href="#">View Assets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">PRODUCT INFORMATION</h4>
                    <p class="card-title-desc" style="color:firebrick">Fill all information below</p>

                    <form asp-action="Update" asp-controller="Products" id="frmProductEdit"
                          method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" placeholder="Product Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Provider"></label>
                                    <input asp-for="Provider" class="form-control" />
                                    <span asp-validation-for="Provider" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="productdesc">Product Description</label>
                                    <textarea asp-for="Description" class="form-control" id="productdesc" rows="5"
                                              style="height:146px">
                                    </textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"></label>
                                    <input asp-for=Price class="form-control" placeholder="Price" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="QuantityInStock" class="control-label"></label>
                                    <input asp-for=QuantityInStock class="form-control" placeholder="Quantity In Stock" />
                                    <span asp-validation-for="QuantityInStock" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CategoryId" class="control-label">Category</label>
                                    @{
                                       
                                    }
                                    <select asp-for="CategoryId" asp-items=ViewBag.ParentId
                                            class="custom-select  mr-sm-2">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input asp-for=SubFiles type="hidden" />
                                    <label>Product Sub Image :</label>
                                    <label style="color:brown">Maximum 3 files</label>

                                    <input asp-for="@Model.SubFiles" type="file"
                                           class="btn btn-info mt-2 waves-effect waves-light
                                    form-control-file form-control height-auto" multiple="multiple" onchange="loadSubImage(event)" />
                                    <span asp-validation-for="SubFiles" class="text-danger"></span>

                                </div>

                                @{
                                    var subList = new List<SubImage>();
                                    if (Model.SubImages != null)
                                    {
                                        subList = Model.SubImages;
                                    }                                   
                                }

                                @if(subList.Count > 0)
                                {
                                    <div style="display:flex">
                                        <div style="margin-right: 10px">
                                            <img src="@subList[0].ImageUrl"
                                                 style="height:150px; margin-top:20px"
                                                 id="image_1" />
                                        </div>
                                        <div style="margin-right: 10px">
                                            <img src="@subList[1].ImageUrl"
                                                 style="height:150px; margin-top:20px"
                                                 id="image_2" />
                                        </div>
                                        <div style="margin-right: 10px">
                                            <img src="@subList[2].ImageUrl"
                                                 style="height:150px; margin-top:20px"
                                                 id="image_3" />
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div style="display:flex">
                                        <div style="margin-right: 10px">
                                            <img src="~/vendors/images/product-defaut.png"
                                                 style="height:150px; margin-top:20px"
                                                 id="image_1" />
                                        </div>
                                        <div style="margin-right: 10px">
                                            <img src="~/vendors/images/product-defaut.png"
                                                 style="height:150px; margin-top:20px"
                                                 id="image_2" />
                                        </div>
                                        <div style="margin-right: 10px">
                                            <img src="~/vendors/images/product-defaut.png"
                                                 style="height:150px; margin-top:20px"
                                                 id="image_3" />
                                        </div>
                                    </div>
                                }

                                
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input asp-for="@Model.MainImageName" type="hidden" />
                                    <label>Product Main Image</label> <br>
                                    @if (Model.MainImageName == null)
                                    {
                                        <img src="~/vendors/images/product-defaut.png" alt="Logo Image"
                                             style=" width:277px; height:277px; margin-top:20px" />
                                    }
                                    else
                                    {
                                        <img src="@Model.ImageUrl" alt="Logo Image"
                                             style="width:400px; margin-top:20px"
                                             id="previewImage" />
                                    }
                                    <br>
                                    <input asp-for=File type="file"
                                           class="btn btn-info mt-2 waves-effect waves-light
                                    form-control-file form-control height-auto"
                                           onchange="loadImage(event)" />
                                    <span asp-validation-for="File" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary mr-1 waves-effect waves-light">SAVE CHANGES</button>
                        <a href="@Url.ActionLink("Index", "Products")" class="btn btn-secondary waves-effect">CANCEL</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/js/validation.js")"></script>
}
