@using FashionWeb.Domain.ViewModels;
@using System.Security.Claims;
@using Utilities.GlobalHelpers;
@model CategoryViewModel

@{
    ViewData["Title"] = "Category Page";
    Layout = "_Layout";
}

@{   
    var role = User.FindFirstValue(ClaimTypes.Role);
}

<partial name="_Alert" />

<link href="~/css/table.css" rel="stylesheet" />

@{
    async Task RenderCategory(CategoryItemViewModel category, int level)
    {
        string prefix = string.Concat(Enumerable.Repeat("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", level));

        <tr>
            @if(prefix == "")
            {
                <td scope="row" style="color: blue; font-size:20px ">
                    @category.Name
                </td>
            }
            else
            {
                <td scope="row" style="color: forestgreen">
                    @Html.Raw(prefix)@category.Name
                </td>
            }
            
            <td>
                @if (prefix == "")
                {
                    <img src="@category.ImageUrl" clas="product-image" style="width:110px">
                    <input type="hidden" asp-for="@category.ImageName">
                }
                else
                {
                    <img src="@category.ImageUrl" clas="product-image" style="width:80px">
                    <input type="hidden" asp-for="@category.ImageName">
                }                                          
            </td>
            <td>@category.Slug</td>
            @if (role.Contains("Admin"))
            {
                <td>
                    <a href="@Url.ActionLink("Update", "Categories", new {id = category.Id})"
                       class="btn btn-primary" style=" border-radius:20%">
                        <i class="bi bi-pen"></i>
                        Edit
                    </a>
                </td>
                <td scope="col">
                    <button class="tm-product-delete-link"
                            data-toggle="modal"
                            data-target="@("#delete-category-" + category.Id)"
                            type="button">
                        <i class="icon-copy bi bi-trash-fill" style="cursor:pointer"></i>
                    </button>
                </td>
            }

        </tr>
        if (category.CategoryChildrens?.Count > 0)
        {
            foreach (var categoryChild in category.CategoryChildrens)
            {
                await RenderCategory(categoryChild, level + 1);
                @await Html.PartialAsync("_DeleteConfirmPartialView", categoryChild)
            }
        }
    }
}

<div class="main-container">

    <div class="pd-30 card-box mb-30">

        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>Basic Informations</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">HOME</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                CATEGORY TABLES
                            </li>
                        </ol>
                    </nav>
                </div>                
            </div>
            @if (role.Contains("Admin"))
            {
                <div class="col-md-6 col-sm-12 text-left">
                    <div class="create">
                        <a class="btn btn-primary"
                           href="~/Categories/Create"
                           role="button">
                            CREATE CATEGORY
                        </a>
                    </div>
                </div>
            }
           
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Category Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Url Display</th>
                    @if (role.Contains("Admin"))
                    {
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.ListCategory)
                {
                    await RenderCategory(category, 0);
                    @await Html.PartialAsync("_DeleteConfirmPartialView", category)
                }
            </tbody>
        </table>
    </div>
    <div class="footer-wrap pd-20 mb-20 card-box">
        ADMIN - Admin Template By
        <a href="https://bitbucket.org/dtranthai/fashion-admin/src/develop/" target="_blank" style="text-decoration:none">
            TONY ĐẶNG AND APTECH TEAM
        </a>
    </div>

</div>