@using FashionWeb.Domain.ViewModels;
@using Utilities.GlobalHelpers;
@model OrderViewModel
@{
    ViewData["Title"] = "Orders";
    Layout = "_Layout";
}

@if (Model.ListOrder == null || Model.ListOrder.Count == 0)
{
    <div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="pd-20 card-box mb-30">
            <div class="clearfix mb-20">
                <div class="pull-left">
                        <h4 class="text-blue h4">ORDER IS EMPTY NOW</h4>
                        <div class="pull-left">
                            <a href="~/Home/Index" class="btn btn-primary btn-sm" role="button">Back To Order</a>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
    </div>
}

else
{
    <form method="post">
        <div class="main-container">
            <div class="pd-ltr-20 xs-pd-20-10">
                <div class="pd-20 card-box mb-30">
                    <div class="clearfix mb-20">
                        <div class="pull-left">
                            <h4 class="text-blue h4">ORDERS TABLE</h4>
                            <div class="pull-left">
                                <a href="~/Orders/Index" class="btn btn-primary btn-sm" role="button">Back To Order</a>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a href="#border-table" class="btn btn-primary btn-sm scroll-click" role="button">Save File To Excel</a>
                        </div>
                    </div>

                    <table class="table table-bordered">
                        <thead>
                            <tr style="text-align:center; font-weight:700">
                                <th scope="col">Order ID</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Address</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Payment Status</th>
                                <th scope="col">Order Processings</th>
                                <th scope="col">Detail</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center; font-size:15px">
                            @foreach (var orderItemView in Model.ListOrder)
                            {
                                <tr>
                                    <td class="table-plus sorting_1" tabindex="0">
                                        @orderItemView.OrderId.ToString().Substring(0,8)

                                        <input asp-for="@orderItemView.OrderId" type="hidden">
                                    </td>
                                    <td class="table-plus sorting_1" tabindex="0">@orderItemView.CustomerName</td>
                                    <td>@orderItemView.Phone</td>
                                    <td>@orderItemView.OrderDate</td>
                                    <td>@orderItemView.ShipAddress</td>
                                    <td>@orderItemView.TotalPrice.GetPriceFormat()</td>
                                    @if (@orderItemView.IsPaid)
                                    {
                                        <td>
                                            <i class="bi bi-check-circle-fill"
                                               style="color:forestgreen; font-size:25px"></i>
                                            <p>Paid Invoice</p>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <i class="bi bi-hourglass-split"
                                               style="color:firebrick; font-size:25px"></i>
                                            Wating...
                                        </td>
                                    }

                                    <td>
                                        <a href=""
                                           class="btn btn-success"
                                           style=" border-radius:20%; font-size:11px">
                                            Order Browsing
                                        </a>
                                        <a href=""
                                           class="btn btn-danger"
                                           style="border-radius:20%; font-size:11px; margin-left:15px">
                                            Cancel
                                        </a>
                                    </td>
                                    <td>
                                        <button class="btn btn-secondary"
                                                formaction="@Url.ActionLink("Detail", "Orders", new {orderId = @orderItemView.OrderId})"
                                                formmethod="get"
                                                type="submit">
                                            <i class="bi bi-eye-fill" style="cursor:pointer"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="footer-wrap pd-20 mb-20 card-box">
                    ADMIN - Admin Template By
                    <a href="https://bitbucket.org/dtranthai/fashion-admin/src/develop/" target="_blank" style="text-decoration:none">
                        TONY ĐẶNG AND APTECH TEAM
                    </a>
                </div>
            </div>
        </div>
    </form>
}
